<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" />
</head>
<body>
<h1>Sobre o sistema</h1>

<p><b>Python:</b> é uma linguagem Open-Source de propósito geral usado bastante em data science, machine learning, desenvolvimento de web, desenvolvimento de aplicativos, automação de scripts, fintechs e mais. O Python roda no servidor, e é responsável por processar a lógica dos Inputs dos usuários, interagindo com bases de dados e outros servidores, etc.</p>

<p><b>Pip</b>: O PIP é uma ferramenta para gerenciamento de pacotes de software escrito em Python. E serve para instalar, remover, atualizar ou listar os pacotes instalados em um determinado projeto.</p>

<p><b>Git:</b> Git é um sistema de controle de versão open-source, ou seja, gratuito. Ele é utilizado para a criação de um histórico de alterações em código-fonte de projetos de desenvolvimento de software. Por meio de sua utilização, podemos saber quais foram as alterações realizadas, quem fez cada uma das alterações e baixar essas mudanças em nossa máquina. Se necessário, revertê-las para uma versão anterior.</p>

<p><b>SQLite:</b> O SQLite é uma base de dados relacional de código aberto e que dispensa o uso de um servidor na sua atuação. Armazenando seus arquivos dentro de sua própria estrutura, ele é capaz de funcionar muito bem em aplicações diversas, principalmente, websites de tráfego médio e sistemas mobile.</p>

<p><b>SQLite Browser:</b> O SQLite Browser é uma ferramenta visual usada para criar, projetar e editar arquivos de banco de dados compatíveis com SQLite. Sua interface é baseada em QT e deve ser usada por usuários e desenvolvedores que desejam criar bancos de dados, editar e pesquisar dados usando uma interface familiar semelhante a uma planilha, sem a necessidade de aprender comandos SQL complicados.</p>
</body>
</html>